<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <link
            rel="stylesheet"
            href="/static/css/viewer.css"
    >
</head>
<body>
<main>
    <h1>Projects</h1>

    <ul>
        {% for project in projects %}
        <li>
            {{ project.name }}
        </li>
        {% endfor %}
    </ul>
</main>

<script src="/static/js/viewer.js"></script>
</body>
</html>